.wrapper {
    padding-bottom: rem(50px);
}

.item {
    display: block;
}

.itemIcon {
    padding: var(--mantine-spacing-xs);
    margin-right: var(--mantine-spacing-md);
}

.itemTitle {
    margin-bottom: calc(var(--mantine-spacing-xs) / 2);
    color: rgb(44, 44, 44);
}

.supTitle {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-blue-light-color);
    letter-spacing: rem(0.5px);
}

.title {
    line-height: 1;
    text-align: center;
    margin-top: var(--mantine-spacing-xl);
}

.description {
    text-align: center;
    margin-top: var(--mantine-spacing-xs);
}

.highlight {
    background-color: var(--mantine-color-blue-light);
    padding: rem(5px);
    padding-top: 0;
    border-radius: var(--mantine-radius-sm);
    display: inline-block;
    color: light-dark(inherit, var(--mantine-color-white));
}

.blockLayout {
    display: flex;
    justify-content: flex-start;
}


.btn {
    color: #fff;
    background-color: #339af0;
    padding: 10px 0px;
    width: 200px;
    text-align: center;
    margin-right: 10px;
}